@using DevIO.App.Extensions
@using X.PagedList.Mvc.Core;
@model X.PagedList.PagedList<DevIO.App.ViewModels.ClienteViewModel>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@{
    ViewData["Title"] = "Consulte os seus Clientes cadastrados na sua Loja ou realize o cadastro de novos Cliente";
}
<vc:Summary></vc:Summary>
<div style="background-color: #1a5ec2;color: white;padding: 10px;border-radius: 3px;">
    <div class="d-flex align-items-center">
        <h5>@ViewData["Title"]</h5>
        <a class="btn btn-success ml-5" asp-action="Create">Adicionar Cliente</a>
    </div>
</div>

<br />
<!-- filtro -->
<button class="btn btn-primary" id="filterButton"><spam class="fa fa-filter"></button>
<button style="float: right;" class="btn btn-danger" id="deletar">Deleção do filtro <spam class="fa fa-times"></button>
<br />
<div id="filterArea" style="display: none;background-color:#1a5ec2; color: white;padding: 20px;border-radius: 10px;">
    <h3 class="d-block text-center">Pesquisar Compradores</h3>
    <hr />
    <form id="filterForm" asp-controller="Clientes" asp-action="FiltrarClientes" method="get">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="filterName">Nome/Razão Social:</label>
                <input type="text" class="form-control" id="filterName" name="filterName" placeholder="Nome ou Razão Social do Cliente">
            </div>
            <div class="form-group col-md-6">
                <label for="filterEmail">E-mail:</label>
                <input type="text" class="form-control" id="filterEmail" name="filterEmail" placeholder="E-mail do Cliente">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="filterPhone">Telefone:</label>
                <input type="text" class="form-control" id="filterPhone" name="filterPhone" placeholder="Telefone do Cliente">
            </div>
            <div class="form-group col-md-3">
                <label for="filterDate">Data de Cadastro:</label>
                <input type="date" class="form-control" id="filterDate" name="filterDate" placeholder="Selecione uma data ou período">
            </div>
            <div class="form-group col-md-3">
                <label for="filterBlocked">Cliente bloqueado:</label>
                <select class="form-control" id="filterBlocked" name="filterBlocked">
                    <option value="all">Todos</option>
                    <option value="blocked">Bloqueados</option>
                    <option value="notBlocked">Não Bloqueados</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <button class ="btn btn-primary" type="submit" id="applyFilter">Aplicar Filtros</button>
            <button type="button" class="btn btn-secondary" id="clearFilter">Limpar Filtros</button>
        </div>
        
    </form>
</div>
<!-- JavaScript/jQuery para controlar a interação -->
<script>
    $(document).ready(function () {
        $("#filterButton").click(function () {
            $("#filterArea").slideToggle();
        });

        $("#clearFilter").click(function () {
            $("#filterForm")[0].reset();
        });

        $("#applyFilter").click(function () {
            
            var name = $("#filterName").val();
            var email = $("#filterEmail").val();
            var phone = $("#filterPhone").val();
            var date = $("#filterDate").val();
            var blocked = $("#filterBlocked").val();

            $("#filterArea").slideUp();
        });
    });
    $("#clearFilter").click(function () {
       
        $("#filterName").val('');
        $("#filterEmail").val('');
        $("#filterPhone").val('');
        $("#filterDate").val('');
        $("#filterBlocked").val('all'); 

        
        return false;
    });

    $("#deletar").click(function () {
        window.location.href = "@Url.Action("RemoverFiltro")";
    });

</script>
<br />

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                <input type="checkbox" class="selectAll">
            </th>
            <th>
                Nome/Razão Social
            </th>
            <th>
                E-mail
            </th>
            <th>
               Telefone
            </th>
            <th>
               Data de Cadastro
            </th>
            <th>
                Bloqueado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" class="selectSingle">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @this.FormataTelefone( item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bloqueado)
                </td>
                <td class="text-right">
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edição <spam class="fa fa-pencil-alt"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        
        $(".selectAll").change(function () {
           
            $(".selectSingle:checkbox").prop('checked', $(this).prop("checked"));
        });

       
        $(".selectSingle:checkbox").change(function () {
            
            if ($(".selectSingle:checkbox").length == $(".selectSingle:checkbox:checked").length) {
                $(".selectAll").prop("checked", true);
            } else {
                $(".selectAll").prop("checked", false);
            }
        });
    });
</script>
@{
    int totalPages = Model.PageCount;
    int currentPage = Model.PageNumber;
}

<nav class="align-content-center">
    <ul class="pagination pagination-sm custom-pagination">
        @if (currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }

        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(currentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }

        @if (currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>

